---
import MainLayout from "../../layouts/MainLayout.astro";
import {getCollection} from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import Pagination from "../../components/pagination.astro";
import ArticleCard from '../../components/article-card.astro'
import SearchForm from "../../components/search-form.astro";
import { RUGS_PER_PAGE } from "../../constants";

const currentPage = +Astro.url.searchParams.get('page')! || 1;

const allRugs: CollectionEntry<'rug'>[] = (await getCollection('rug'))

// const totalPages = Math.ceil(allRugs.length / RUGS);

const allRugsPage = allRugs
---

<MainLayout>
  <h1 class="text-4xl font-bold pb-3">Our Rugs</h1>

  <!-- <SearchForm /> -->
 
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {allRugsPage.map((rug: CollectionEntry<'rug'>) => (
      <ArticleCard rug={rug}/>
    ))}
    
</div>
<!-- <Pagination currentPage={currentPage} totalPages={totalPages} disablePrevious={currentPage === 1} disableNext={currentPage === totalPages} /> -->
 
</MainLayout>