---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import about from '../images/about.jpg';
import team1 from '../images/team1.png';
import team2 from '../images/team2.png';
import team3 from '../images/team3.png';
---


<MainLayout title="About TechPeople">
  <div class="animate-slideinLeft">
    <h1 class="text-4xl lg:text-5xl font-bold mb-5"> About Custom Rug Life</h1>
    <h2 class="text-xl italic font-extrabold text-gray-500 mb-4">Creating your own custom rug is only a step away.</h2>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-between gap-8">
    <div class="animate-slideinLeft w-full md:w-1/2 my-4 md:mb-0">
        <img src='../images/about.jpg' alt="Tech People Team" class="w-full h-auto rounded-lg shadow-lg" />
    </div>
    <div class="animate-slideinRight w-full md:w-1/2 ml-4">
        <h2 class="text-3xl font-extrabold text-gray-900 mb-4">
            What We Do
        </h2>
        <p class="text-gray-700 leading-relaxed mb-6 text-lg">
          Our rugs are 100% made to order, giving us the ability to not only tweak existing designs, but also build a new design from scratch.
        </p>
        <p class="text-gray-700 leading-relaxed mb-6 text-lg">
          All Custom Rugs are made-to-order and handcrafted in just the way you want it. You name it, we can create it. From your favorite sports team to your company logo, we have it all. Get in touch to find out more.
        </p>       
    </div>
</div>
</MainLayout>