---
import MainLayout from "../layouts/MainLayout.astro";
import  { Icon }  from 'astro-icon';
---

<MainLayout
 title="Contact Us"
>
  <section class="mx-auto px-4 py-10">   
   	<h1 class="text-4xl font-black uppercase text-center">Contact Us</h1>
    <article class="max-w-sm max-sm:w-[20rem] mt-20 py-5 px-4 h-60 shadow-lg rounded-lg mx-auto relative overflow-hidden">
      <div class="rounded-full absolute w-[500px] h-[500px] bg-gradient-to-r from-indigo-400 to-indigo-100 -left-[300px] -top-[300px] -z-10" />
      <div class="rounded-full absolute w-[500px] h-[500px] bg-gradient-to-r from-indigo-100 to-indigo-400 -bottom-[300px] -right-[400px] -z-10" />
      <h2 class="pb-10">Custom Rug Life</h2>
      <div class="mx-auto w-[22rem] px-2 flex flex-col gap-4">
        <h2 class="text-lg font-semibold max-sm:text-base">Phone: 330-573-3429</h2>
        <h2 class="text-lg font-semibold max-sm:text-base">Email: biggyrezzy@gmail.com</h2>
        <!-- <a href="https://m.facebook.com/thomas.ellsmore.7"> -->
          <Icon  name="mdi:facebook" class="w-8 text-gray-700 transition duration-300 hover:text-black" />
        </a>            
      </div>
      
    </article>
  </section>
</MainLayout>