---
import MainLayout from '../layouts/MainLayout.astro';
import SearchForm from '../components/search-form.astro';
import type { CollectionEntry } from 'astro:content'
import {getCollection} from 'astro:content'
import { HOME_PAGE_ARTICLE_LIMIT } from '../constants';
import ArticleCard from '../components/article-card.astro';
import heroImage from '../images/banner.webp';
import { Image } from 'astro:assets';

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort((a:CollectionEntry<'blog'>, b:CollectionEntry<'blog'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const mostRecentArticle: CollectionEntry<'blog'> = allBlogArticles[0];

const otherArticles: CollectionEntry<'blog'>[] = allBlogArticles.slice(1);
---

<MainLayout>
      <!-- Top Grid -->
    <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 items-center">
      <div class="text-xl max-md:text-center">
        <h1 class="text-5xl max-md:text-4xl font-bold mt-4 mb-8 leading-normal xl:leading-tight xl:text-6xl max-md:text-center">
          Beautiful <span class="text-indigo-700">Custom </span>Designs  are <span class="text-indigo-700">Underfoot</span>
        </h1>
        <h2 class="text-3xl max-md:text-2xl font-bold text-gray-700 mb-8">Why choose us?</h2>
        <p>All Custom Rugs are made-to-order and handcrafted in just the way you want it. We are known for providing high quality area rugs at affordable prices. 
        You name it, we can create it. From your favorite sports team to your company logo, we have it all.</p>
        
        <div class="flex gap-4 pt-8 max-md:justify-center items-center">
          <button class="bg-indigo-700 hover:bg-indigo-600  text-white font-bold py-4 px-8 rounded transition">View Rugs</button>
          <button class="bg-indigo-700 hover:bg-indigo-600  text-white font-bold py-4 px-8 rounded transition">Contact Us</button>
        </div>
      </div>
      <Image src={heroImage} class="w-full max-lg:w-1/2 max-lg:mx-auto h-full rounded-lg order-first lg:order-last " alt="Rug Banner"  />    
    </div>
	</MainLayout>
 
 
  <!-- . Creating your own custom rug is only a step away. -->
  <!-- Our rugs are 100% made to order, giving designers the ability to not only tweak existing Perennials designs, but also build a new design from scratch -->
  <!-- Get in touch to find out more -->
