---

import type { CollectionEntry } from 'astro:content'

const {rug} = Astro.props

type Props = {
  rug: CollectionEntry<'rug'>
}
---

<div class="max-w-md mx-auto mt-10">
  <div class="bg-white rounded-lg overflow-hidden shadow-lg">
   
      <img
        src={`/images/${rug.data.image}`}
        alt="rug Image"
        class="w-[500px] h-96 object-cover hover:opacity-75 transition duration-300 ease-in-out"
      />
   
     
    </div>
  </div>
</div> 